@model prueba.Models.Continente

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>Continente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreContinente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreContinente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ContinenteId">Editar</a> |
    <a asp-action="Index">Regresar a lista</a>
</div>
