@{
    ViewData["Title"] = "Menu"; 
      <link href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet" />

}

<head>
    <link href="~/css/MenuResponsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

    <input type="checkbox" id="check" />
    <label for="check">
        <span class="material-icons" id="btn">menu_open</span>
        <span class="material-icons" id="cancel">cancel</span>
    </label>
    <div class="slider">
        <header>Regiones</header>
        <ul>
            <li><a asp-action="Index" asp-controller="ClimaSierra"><i><span class="material-icons">location_on</span></i>Sierra</a></li>
            <li><a asp-action="Index" asp-controller="ClimaCosta"><i><span class="material-icons">location_on</span></i>Costa</a></li>
            <li><a asp-action="Index" asp-controller="ClimaGalapagos"><i><span class="material-icons">location_on</span></i>Galapagos</a></li>
            <li><a asp-action="Index" asp-controller="ClimaOriente"><i><span class="material-icons">location_on</span></i>Oriente</a></li>
        </ul>
    </div>

    <section>
        <center>
  <video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="580"
    height="480"
    data-setup="{}"
  >
    <source src="./video/Biodiversidad del Ecuador.mp4" type="video/mp4" />
    <source src="MY_VIDEO.webm" type="video/webm" />
  </video>
  </center>
  <script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
</section>

