@model prueba.Models.Especie

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>

<h3>Seguro que quieres eliminar?</h3>
<div>
    <h4>Especie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEspecie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEspecie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habitat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habitat.HabitatId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EspecieId" />
        <button type="submit" value="Eliminar" class="btn btn-danger" >Eliminar<i><span class="material-icons">delete_forever</span></i></button> |
        <a class="btn btn-danger" asp-action="Index">Regresar a la lista <i><span class="material-icons">exit_to_app</span></i></a>
    </form>
</div>
