* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana;
}

head {
    margin: 1000px auto;
    width: 800px;
    height: 250px;
    background-color: red;
}

centro {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.contenedor {
    width: 200px;
    height: 230px;
    float: left;
    -webkit-transition: heigth .4s;
}

div#uno {
    background-color: rgb(208, 101,3);
}

div#dos {
    background-color: rgb(233, 147,25);
}

div#tres {
    background-color: rgb(22, 145,198);
}

div#cuatro {
    background-color: rgb(22, 107,162);
}

span#icon {
    display: block;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, .15);
    width: 60px;
    padding: 20px;
    -webkit-border-radius: 50%;
    -webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
    -webkit-transition: box-shadow .4s;
}

a.texto {
    font-size: 1.2em;
    color: white;
    text-align: center;
    padding-top: 10px;
    opacity: .6s;
    -webkit-transition: padding-top .4s;
}

div.contenedor:hover {
    height: 250px;
}

    div.contenedor:hover a.texto {
        padding-top: 30px;
        opacity: 1;
    }

    div.contenedor:hover span#icon {
        -webkit-box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
    }

body {
    height: 100%;
    background-repeat: no-repeat;
    background: url(../img/Sierra/FondoSierra.jpg) no-repeat center center fixed;
    background-size: 100% 100%;
}