
body {
    height: 100%;
    background-repeat: no-repeat;
    background: url(../img/Animales/fondo.jpg) no-repeat center center fixed;
    background-size: 100% 100%;
    
}
p{
    color:white;
}
h1{
    color:white;
}
h4{
    color:white;
}