@model prueba.Models.Habitat

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>

<h4>Habitat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HabitatId" />
            <div class="form-group">
                <label asp-for="CodigoHabitat" class="control-label"></label>
                <input asp-for="CodigoHabitat" class="form-control" />
                <span asp-validation-for="CodigoHabitat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreHabitat" class="control-label"></label>
                <input asp-for="NombreHabitat" class="form-control" />
                <span asp-validation-for="NombreHabitat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Registrar a la lista</a>
</div>

