<head>
    <link href="~/css/Clima2.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <header id="head">
        <div class="contenedor" id="uno">
            <span class="material-icons" id="icon">person_pin_circle</span>
            <p class="texto">Tropical andino</p>
        </div>
        <div class="contenedor" id="dos">
            <span class="material-icons" id="icon">person_pin_circle</span>
            <p class="texto">Templado</p>
        </div>
    </header>
</body>