@model ZooLine.Models.AnimalModifyModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>

<h4>Animales</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AnimalId" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreCientifico" class="control-label"></label>
                <input asp-for="NombreCientifico" class="form-control" />
                <span asp-validation-for="NombreCientifico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="año_nacimiento" class="control-label"></label>
                <input asp-for="año_nacimiento" class="form-control" />
                <span asp-validation-for="año_nacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="año_muerte" class="control-label"></label>
                <input asp-for="año_muerte" class="form-control" />
                <span asp-validation-for="año_muerte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estatura" class="control-label"></label>
                <input asp-for="estatura" class="form-control" />
                <span asp-validation-for="estatura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ancho" class="control-label"></label>
                <input asp-for="ancho" class="form-control" />
                <span asp-validation-for="ancho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreImagen" class="control-label"></label>
                <input asp-for="NombreImagen" class="form-control" />
                <span asp-validation-for="NombreImagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descripcion" class="control-label"></label>
                <input asp-for="descripcion" class="form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EspecieId" class="control-label"></label>
                <select asp-for="EspecieId" class="form-control" asp-items="Model.Especies"></select>
                <span asp-validation-for="EspecieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

