@{
    ViewData["Title"] = "ClimaCosta";
    // Layout = "~/Views/Home/Index.cshtml";
}

<head>
    <link href="~/css/Clima.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <header id="head">
        <div class="contenedor" id="uno">
            <span class="material-icons" id="icon">person_pin_circle</span>
            <p class="texto">Calido</p>
        </div>
        <div class="contenedor" id="dos">
            <span class="material-icons" id="icon">person_pin_circle</span>
            <p class="texto">Tropical seco</p>
        </div>
        <div class="contenedor" id="tres">
            <span class="material-icons" id="icon">person_pin_circle</span>
            <p class="texto">Humedo</p>
        </div>
        <div class="contenedor" id="cuatro">
            <span class="material-icons" id="icon">person_pin_circle</span>
            <p class="texto">‎Monzónico</p>
        </div>
    </header>
</body>