@{
    ViewData["Title"] = "ClimaCosta";
    // Layout = "~/Views/Home/Index.cshtml";
}

<head>
    <link href="~/css/Clima.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <header id="head">
        <div class="contenedor" id="uno">
            <span class="material-icons" id="icon">person_pin_circle</span>
            <center><font color="#fffff"><a class="texto" asp-action="Index" asp-controller="ClimaCalidoCosta">Calido</a></font></center>
        </div>
        <div class="contenedor" id="dos">
            <span class="material-icons" id="icon">person_pin_circle</span>
            <center><font color="#fffff"><a class="texto" asp-action="Index" asp-controller="ClimaTropicalCosta">Tropical Seco</a></font></center>
        </div>
        <div class="contenedor" id="tres">
            <span class="material-icons" id="icon">person_pin_circle</span>
            <center><font color="#fffff"><a class="texto" asp-action="Index" asp-controller="ClimaHumedoCosta">Humedo</a></font></center>
        </div>
        <div class="contenedor" id="cuatro">
            <span class="material-icons" id="icon">person_pin_circle</span>
            <center><font color="#fffff"><a class="texto" asp-action="Index" asp-controller="ClimaMonzonicoCosta" >‎Monzónico</a></font></center>
        </div>
    </header>
</body>