@{
    ViewData["Title"] = "Mision";
    Layout = null;
}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
<link href="~/css/Mision.css" rel="stylesheet" />
<body>
    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1>Bienvenido</h1>
                </div>
                <div class="content">
                    <h3>Mision Zooline</h3>
                    <p>
                        ZooLine es un aplicación web enfocada en el cuidado ambiental 
                        realiza tours virtuales enfocado en las 4 regiones que 
                        constituye Costa, Sierra, Oriente y Galápagos , 
                        donde podras encontrar animales de diferente especie animal los 
                        cuales se puede ver una breve descripción , su nombre científico , su edad de muerte 
                        además contemplando las reservas ecológicas 
                        dentro de Ecuador el cual el aplicativo es se enfoca en que el usuario 
                        aprenda de nuestra biodiversidad
                    </p>
                    <div class="button">
                        <a asp-controller="Home" asp-action="Index">Visita ZooLine</a>
                    </div>
                </div>
                
            </div>
            <div class="image-section">
                <img src="./img/oso.jpg" class="imagen">
            </div>
        </div>
    </div>
</body>