@{
    ViewData["Title"] = "Mision";
    Layout = null;
}
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
<link href="~/css/Mision.css" rel="stylesheet" />
<body>
    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1>Bienvenido<i class="fas fa-paw" style="color:black"></i></h1>
                </div>
                <div class="content">
                    <h3>Misión ZooLine <i class="fas fa-calendar-check"></i></h3>
                    <p>
                    Ofrecer y contribuir a la protección del ambiente, promoviendo el conocimiento y sensibilización sobre la biodiversidad 
                    mediante la creación de experiencias inolvidables, la ejecución de programas de investigación científica, 
                    educación, manejo y crianza de fauna aplicados a la conservación de especies animales y ecosistemas del Ecuador.</p>
                    
                    <h3>Visión ZooLine <i class="fa fa-eye"></i></h3>
                    <p>
                        Ser una aplicación web enfocada a promover la investigación, educación, recreación, manejo, 
                        crianza y conservación de la biodiversidad.
                    </p>
                    <div class="button">
                        <a asp-controller="Home" asp-action="Index">Visita ZooLine<i class="fas fa-otter"></i></a>
                    </div>
                </div>
                
            </div>
            <div class="image-section">
                <img src="./img/oso.jpg" class="imagen">
            </div>
        </div>
    </div>
</body>