@{
    ViewData["Title"] = "ClimaTempladoOriente";
}

<head>
    <link href="~/css/MenuResponsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<input type="checkbox" id="check" />
<label for="check">
    <span class="material-icons" id="btn">menu_open</span>
    <span class="material-icons" id="cancel">cancel</span>
</label>
<div class="slider">
    <header>Climas</header>
    <ul>
        <li><a asp-action="Index" asp-controller="ClimaPantanosoOriente"><i><span class="material-icons">location_on</span></i>Pantanoso</a></li>
        <li><a asp-action="Index" asp-controller="ClimaCalidoOriente"><i><span class="material-icons">location_on</span></i>Calido</a></li>
        <li><a asp-action="Index" asp-controller="ClimaPluviosOriente"><i><span class="material-icons">location_on</span></i>Pluvioso</a></li>
        <br />
        <br />
        <br />
        <li><a asp-action="Index" asp-controller="Menu"><i><span class="material-icons">directions_run</span></i>Regresar</a></li>
    </ul>
</div>
<section>

    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Aves
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" src="~/img/Costa/shutterstock_256752703.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Cangrejo</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="~/img/Costa/iguana.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="~/img/Costa/mono.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
           
        </div>
    </div>

</section>


