@model IEnumerable<ZooLine.Models.CardModel>
@{
    ViewData["Title"] = "ClimaFrioSierra";
    var cardClass = (Model.Count() > 1) ? "mx-auto mb-2 col-sm-12 col-md-4 col-lg-4" : "mx-auto mb-2 col-sm-12 col-md-12 col-lg-12";
}

<head>
    <link href="~/css/MenuResponsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<input type="checkbox" id="check" />
<label for="check">
    <span class="material-icons" id="btn">menu_open</span>
    <span class="material-icons" id="cancel">cancel</span>
</label>
<div class="slider">
    <header>Climas</header>
    <ul>
        <li><a asp-action="Index" asp-controller="ClimaTempladoSierra"><i><span class="material-icons">location_on</span></i>Templado</a></li>
        <li><a asp-action="Index" asp-controller="ClimaTropicalSierra"><i><span class="material-icons">location_on</span></i>Tropical Andino</a></li>
        <li><a asp-action="Index" asp-controller="ClimaGlaciarSierra"><i><span class="material-icons">location_on</span></i>Glaciar</a></li>
        <br />
        <br />
        <br />
        <li><a asp-action="Index" asp-controller="Menu"><i><span class="material-icons">directions_run</span></i>Regresar</a></li>
    </ul>
</div>
<section>

    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Matorral Interandino
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="card-group">
                        <div class="row">
                            @foreach (var animal in Model)
                            {
                                <div class="@cardClass">
                                    <div class="card">
                                        <img class="card-img-top" src="~/img/Animales/@animal.ImageUrl" alt="Card image cap">
                                        <div class="card-body">
                                            <h3 class="card-title">@animal.Titulo</h3>
                                            <h5 class="card-title">Nombre Cientifico: @animal.SubTitulo</h5>
                                            <p class="card-text">
                                                @animal.Descripcion
                                            </p>
                                            <p class="card-text"><small class="text-muted">Viven Aproximadamente:@animal.SubDescripcion años</small></p>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>

                        <br />

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

