@page
@model AccessDeniedModel
@{
    Layout = null;
}
<link href="~/css/accessDenied.css" rel="stylesheet" />
<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <div class="wrapper">
        <div class="box">
            <h1>No eres GUÍA</h1>
            <p>Consulta a Rol GUÍA , Si se trata de un error !</p>
            <p><a asp-controller="Home" asp-action="Index">Por favor, Regresa al inicio !.</a></p>
        </div>
    </div>
    
</header>
