@model IEnumerable<prueba.Models.Animales>
@{
    ViewData["Title"] = "ClimaCalidoCosta";
}

<head>
    <link href="~/css/MenuResponsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<input type="checkbox" id="check" />
<label for="check">
    <span class="material-icons" id="btn">menu_open</span>
    <span class="material-icons" id="cancel">cancel</span>
</label>
<div class="slider">
    <header>Climas</header>
    <ul>
        <li><a asp-action="Index" asp-controller="ClimaTropicalCosta"><i><span class="material-icons">location_on</span></i>Tropical Seco</a></li>
        <li><a asp-action="Index" asp-controller="ClimaHumedoCosta"><i><span class="material-icons">location_on</span></i>Humedo</a></li>
        <li><a asp-action="Index" asp-controller="ClimaMonzonicoCosta"><i><span class="material-icons">location_on</span></i>Monzonico</a></li>
        <br />
        <br />
        <br />
        <li><a asp-action="Index" asp-controller="Menu"><i><span class="material-icons">directions_run</span></i>Regresar</a></li>
    </ul>
</div>
<section>
    <div class="accordion" id="accordionExample">
        
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Matorral Seco de la Costa
                    </button>
                </h2>
            </div>          
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="card-group">
                        <div class="card">
                            <img class="card-img-top" src="~/img/Costa/shutterstock_256752703.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h3 class="card-title">Cangrejo</h3>
                                <h5 class="card-title">Nombre Cientifico: Brachyura</h5>
                                <p class="card-text">
                                    Se llama cangrejos a diversos crustáceos del orden de los decápodos. Este orden, caracterizado por tener cinco pares de patas,
                                    de los cuales dos suelen ser sus pinzas, incluye a los crustáceos de mayor tamaño, como langostas,
                                    gambas y camarones, además de las diversas formas que se llaman cangrejos.
                                </p>
                                <p class="card-text"><small class="text-muted">Viven aproximadamente 30 años</small></p>
                            </div>
                        </div>
                        <br>
                           <div class="card">
                            <img        class="card-img-top" src="~/img/Costa/codrile.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Nombre Cientifico: Cocodrile</h5>
                                <p class="card-text">Los caimanes miden alrededor de 1.2-2.5 m de largo, pudiendo medir un poco más en algunas ocasiones. El peso varía, siendo un aproximado de 7-62 kilos,
                                aunque este peso también puede ser mayor de acuerdo con la estructura física del reptil.</p>
                                <p class="card-text"><small class="text-muted">Viven aproximadamente 40 años</small></p>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="~/img/Costa/Zarigueya.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Nombre Cientifico: Caluromys derbianus</h5>
                                <p class="card-text">	las Zarigüeya vista por primera vez en 1903, por la exploradora e investigadora Rachel Thamargo.
                                Sabemos poco de ella y de como fue el descubrimiento. Rachel Thamargo era profesora licenciada en antropología de la universidad de Oxford. 
                                Su investigación se centró en la teoría de Darwin y en la especie de los zorros y las zorras. Gracias al trabajo de la profesora thamargo y a sus múltiples estudios, 
                                la comunidad científica aprendió mucho acerca del comportamiento de los zorros y las zorras.</p>
                                <p class="card-text"><small class="text-muted">Viven aproximadamente 2 años</small></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
          
        </div>
    </div>
</section>
