@model prueba.Models.Clima

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


<h1>Detalles</h1>

<div>
    <h4>Clima</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreClima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreClima)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit"class="btn btn-info" asp-route-id="@Model.ClimaId">Editar<i><span class="material-icons small">edit</span></i></a> |
    <a asp-action="Index" class="btn btn-danger">Regresar a la lista <i><span class="material-icons">exit_to_app</span></i></a>
</div>
