@{
    ViewData["Title"] = "Inicio";
}
<link href="~/css/Selvacss.css" rel="stylesheet"/>

<body>
    <div class="text-center">
        <h1 class="display-4">Bienvenido a ZooLine</h1>
        <p>Por tu Bienestar #Quedate en casa.</p>
    
    </div>
</body>
