
@{
    ViewData["Title"] = "Inicio";

}

<link href="~/css/Selvacss.css" rel="stylesheet" />

<body>
    <div class="text-center">
        <h1 class="display-4">Bienvenido a ZooLine</h1>
        <p>Por tu Bienestar #Quedate en casa.</p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Iniciar Tour Virtual 
        </button>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">ZooLine</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                 
                    </div>
                    <div class="modal-body">
                        Ingresa a nuestro Recorrido virtual se encuentras las 4 regiones de Ecuador :
                        <br />
                        Costa
                        <br />
                        Sierra
                        <br />
                        Oriente
                        <br />
                        Galapagos
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        
                            <a  type="button" class="btn btn-success" asp-controller="Carrusel" asp-action="Index">Iniciar Tour!</a>
                         </div>
                </div>
            </div>
        </div>
    </div>
</body>