@{
    ViewData["Title"] = "Inicio";
}
<link href="~/css/Carrusel.css" rel="stylesheet"/>

<body>
    <div class="text-center">
        <h1 class="display-4">Bienvenido a ZooLine</h1>
        <p><a>Por tu Bienestar #Quedate en casa</a>.</p>
        <img src="~/img/Animales/wild-animals-at-the-zoo-vector.jpg" alt="Alternate Text" />
    </div>
</body>
