
@{
    ViewData["Title"] = "Inicio";

}

<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<link href="~/css/Selvacss.css" rel="stylesheet" />

<body>
    <div class="text-center">
        <h1 class="display-4">Bienvenido a ZooLine</h1>
        <p>Por tu Bienestar #Quedate en casa.</p>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal">
            Ingreso a ZooLine<i class="fas fa-map-marked-alt"></i>
        </button>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Consejo ZooLine</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                 
                    </div>
                    <div class="modal-body">
                     Conservar e investigar las especies ecuatorianas para contribuir con conocimiento que beneficie a la conservación de la fauna silvestre.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar<i class="fas fa-route"></i></button>
                        
                            <a  type="button" class="btn btn-success" asp-controller="Carrusel" asp-action="Index">Iniciar Recorrido !<i class="fas fa-hiking"></i></a>
                         </div>
                </div>
            </div>
        </div>
    </div>
    <div class="posicion" style="position:absolute;bottom:0px;right:0px;">
    <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#exampleModa1l">
            Reportar problema<i class="fas fa-exclamation-triangle	"></i>
        </button>
      <div class="modal fade" id="exampleModa1l" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Contacto con Guía</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                 
                    </div>
                    <div class="modal-body">
                    ¿Seguro que quieres reportar un problema?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No<i class="fas fa-comment-slash	"></i></button>
                        
                            <a  type="button" class="btn btn-success" asp-controller="Mensajes" asp-action="Index">Si !<i class="far fa-comment-dots"></i></a>
                         </div>
                </div>
            </div>
        </div>
        </div>
  </body>
